*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    border-color: #a46f64;
    
}

/* NavBar */
.nav{
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: #3f3b54;
    color: #ffff;
    position: absolute;
    width:100%;
}

.nav_intro{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background: linear-gradient(to bottom, #3f3b54 0%, #161616 60%);
    align-items: baseline   ;
}

.nav_intro--logo{
    font-size: 25px;
    margin: 25px 0 0;
}

.nav_intro--news{
    font-size: 25px;
    margin: 25px 165px 0 0;
    border-style:groove;
}


.nav_wrapper{
    display: flex;
    background-image: url('../pictures/background_dark.jpg');
    background-position-y: center;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.nav_wrapper--logo{
    position: relative;
    width: 35%;
    background-size: 100%;
    opacity: 0.8;
    font-size: 35px;
    margin-left: 50px;
    background-color: #3f3b54;
    overflow: visible;
}


.nav_wrapper--nav_items{
    display: flex;
    font-size: 15px;
    background-color: #ffff;
    height: 60%;
    width: 20%;
    position: relative;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 70px;
}

.formulario{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    color: #131313;
    height: 100%;
    width: 100%;
    background-color: #3f3b54;
    border-radius: 15px;
    border-width: 4px;
    border-style: solid;
    align-items: center;
}

.formulario_texto{
    color: #ffff;
    font-size: 95%;
    margin-bottom: 28px;
    padding: 0;
}

.q_input{
    height: 30px;
    width: 70%;
}

.formulario_input{
    width: 40%;
    background-color: #a0202d;
    color: #ffff;
    border: none;
    height: 45px;
    margin-top: 10px;
}

.nav_footer{
    height: 150px;
    background-image: url('../pictures/background_dark.jpg');
    background-position-y: 90%;
}

@media screen and (max-width: 1269px) and (min-width:1022px){
    .formulario_texto{
        color: #ffff;
        font-size: 20px;
        margin-bottom: 28px;
        padding: 0;
    }
    
    .nav_wrapper--logo{
        background-color: #a0202d;
    }

}

@media screen and (max-width: 1022px) {
    .nav_wrapper{
        display: flex;
        grid-template-columns: 1fr 1fr;
        background-image: url('../pictures/background_dark.jpg');
        background-position-y: center;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .nav_wrapper--logo{
        width: 50%;
        opacity: 0.8;
        font-size: 35px;
        background-color: #3f3b54;
        margin-right: 10px;
    }
    
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        height: 100%;
        width: 100%;
        background-color: #3f3b54;
        border-radius: 15px;
        border-width: 4px;
        border-style: solid;
        align-items: center;
        background-color: #161616;
    }

    .nav_wrapper--nav_items{
        background-color: #161616;
        width: 40%;
    }

    .nav_intro--logo{
        font-size: 25px;
        justify-content: space-between;
    }

    .nav_intro{
        display: flex;
        justify-content: space-between;
        padding: 1px;
        background: linear-gradient(to bottom, #3f3b54 0%, #161616 60%);
        align-items: baseline   ;
    }

    .nav_intro--news{
        border-style:groove;
        margin: 25px 0 0 0;

    }

    @media screen and (max-width: 754px) and (min-width: 324px){
        .nav_intro{
            display: flex;
            justify-content: space-between;
            padding: 1px;
            background: linear-gradient(to bottom, #3f3b54 0%, #161616 60%);
            align-items: baseline;
        }
        .nav_wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .nav_wrapper--logo{
            width: 100%;
            margin: 25px 0 0 0;
            font-size: 30px;
        }
        .nav_wrapper--nav_items{
            width: 60%;
            margin: 25px 0 0 0;
        }
}

    @media screen and (max-width: 380px){
        .nav_wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .nav_wrapper--logo{
            width: 100%;
            margin: 25px 0 0 0;
            font-size: 20px;
        }
        .nav_wrapper--nav_items{
            width: 100%;
            margin: 25px 0 0 0;
        }

        .formulario_texto{
           font-size: 15px;
        }
        .nav_intro{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        .nav_intro--logo{
            font-size: 25px;
            margin: 0 0 0 0;
        }
        
        .nav_intro--news{
            font-size: 25px;
            margin: 0 0 0 0;
            border-style:groove;
        }
        
    }
}
