{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <title>Tu Educ Alt</title>
</head>
<body>
    
    <nav>
        <div class="nav">
            <div class="nav_intro">
                <div class="nav_intro--logo">TU EDUCACIÓN ALTERNATIVA</div>
                <div class="nav_intro--news">¡Últimas vacantes!</div>
            </div>

            <div class="nav_wrapper">
                <div class="nav_wrapper--logo">¡Queremos formar parte de tu historia!
                    Llevamos 50 años cambiando futuros y garantizando resultados.
                    
                    ¡Unite a la comunidad de WSE y lográ tu meta de aprender Inglés hoy!
                
                </div>
                
                <div class="nav_wrapper--nav_items">
                    
                    <form action="" class="formulario" id="Iniciar">
                        <p class="formulario_texto">Quiero Iniciar Inglés</p>
                        Nombre
                        <input type="text" class="q_input">
                        Apellido
                        <input type="text" class="q_input">
                        Mail
                        <input type="text" class="q_input">
                        Teléfono
                        <input type="text" class="q_input">
                        <input type="submit" value="enviar" class="formulario_input">
                    </form>
                </div>
            </div>
        </div>
    </nav>

</body>
</html>